<div class="fourversion_roulette">
  <div class="roulette-container">
    <div class="roulettewrapper">
      <div class= "foundation_roulettes">
        <div class="foundation_quarter" id="f_quarter_1">
          <h3 class="form1"><%= @form1 %></h3>
        </div>
        <div class="foundation_quarter" id="f_quarter_2">
          <h3 class="form2"><%= @form2 %></h3>
        </div>
        <div class="foundation_quarter" id="f_quarter_3">
          <h3 class="form3"><%= @form3 %></h3>
        </div>
        <div class="foundation_quarter" id="f_quarter_4">
          <h3 class="form4"><%= @form4 %></h3>
        </div>
      </div>
    </div>
    <div class="roulettewrapper_top">
      <div class= "top_roulettes" id="roulettes4">
        <div class="top_quarter" id="t_quarter_1">
          <h3 class="form5"><%= @form5 %></h3>
        </div>
        <div class="top_quarter" id="t_quarter_2">
          <h3 class="form6"><%= @form6 %></h3>
        </div>
        <div class="top_quarter" id="t_quarter_3">
          <h3 class="form7"><%= @form7 %></h3>
        </div>
        <div class="top_quarter" id="t_quarter_4">
          <h3 class="form8"><%= @form8 %></h3>
        </div>
      </div>
    </div>
    <%= form_with url: "#", class: "todoform", method: :get, local: true do |f| %>
      <div class="taskform1"><%= f.text_field :form1 , placeholder: "タスクを記入" %></div>
      <div class="taskform1"><%= f.text_field :form2 , placeholder: "タスクを記入" %></div>
      <div class="taskform1"><%= f.text_field :form3 , placeholder: "タスクを記入" %></div>
      <div class="taskform1"><%= f.text_field :form4 , placeholder: "タスクを記入" %></div>
      <div class="nameform1"><%= f.text_field :form5 , placeholder: "名前を記入" %></div>
      <div class="nameform2"><%= f.text_field :form6 , placeholder: "名前を記入" %></div>
      <div class="nameform3"><%= f.text_field :form7 , placeholder: "名前を記入" %></div>
      <div class="nameform4"><%= f.text_field :form8 , placeholder: "名前を記入" %></div>
      <%= f.submit "ToDoリストを作成", class: "btn_todo" %>
    <% end %>
    <div class="roulettebutton">
      <div class="tow_buttons">
        <input type="button" value="スタート", id= "start4", class= "myButton">
        <input type="button" value="ストップ", id= "stop4", class= "myButton">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const start = document.getElementById('start4');
  const stop = document.getElementById('stop4');
  const roulettes = document.getElementById('roulettes4');

  let degree = 0;
  let speed = 0;
  let move = false;

  start.addEventListener('click', () => {
    if(!move) {
      move = true;
      speed = 90;
      loop();
    }
  });

  stop.addEventListener('click', () => {
    if(move) {
      move = false;
    }
  });

  function loop() {
    degree += speed;
    if(move) {
      roulettes.style.transform = `rotate(${degree}deg)`;
      requestAnimationFrame(loop);
    }
  }
</script>
