<div class="fourversion_roulette">
  <div class="roulette-container">
    <div class="roulettewrapper">
      <div class= "foundation_roulettes">
        <div class="foundation_quarter" id="f_quarter_1"></div>
        <div class="foundation_quarter" id="f_quarter_2"></div>
        <div class="foundation_quarter" id="f_quarter_3"></div>
        <div class="foundation_quarter" id="f_quarter_4"></div>
      </div>
    </div>
    <div class="circle" id="circle_1"></div>
    <div class="roulettewrapper_top">
      <div class= "top_roulettes">
        <div class="top_quarter" id="t_quarter_1"></div>
        <div class="top_quarter" id="t_quarter_2"></div>
        <div class="top_quarter" id="t_quarter_3"></div>
        <div class="top_quarter" id="t_quarter_4"></div>
      </div>
    </div>
    <%= render 'shared/roulettebutton' %>
    <%= form_with url: "#", method: :get, local: true do |f| %>
      <div><%= f.text_field :label1 %></div>
      <div><%= f.text_field :label2 %></div>
      <div><%= f.text_field :label3 %></div>
      <div><%= f.text_field :label4 %></div>
        <div class="todolist_button">
          <%= f.submit "ToDoリストを作成", class: "myButton", id: "btn_todo"%>
        </div>
    <% end %>
  </div>
</div>
