<div class="fourversion_roulette">
  <div class="roulette-container">
    <% if @page == [4] %>
      <%= render 'shared/roulette_8' %>
    <% end %>
    <%= form_with  class: "todoform", method: :get, scope: :formdate, local: true do |f| %>
      <table>
        <tbody>
          <% 1.step(7, 2) do |num| %>
            <tr>
              <td><%= f.text_field :task ,name:"formdate[form#{num}]", placeholder:"タスクを記入" %></td>
              <td><%= f.text_field :name ,name:"formdate[form#{num+1}]", placeholder: "名前を記入"%></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td ><button id="btn" type="button">追加</button></td>
          </tr>
        </tfoot>
      </table>
      <td ><%= f.submit "反映", class: "btn" %></td>
    <% end %>
    <%= form_with model: @tasks, url: tasks_path, class: "todolists", method: :post ,class: "todolist", local: true do |f| %>
        <%= fields_for 'tasks[]', @tasks do |f| %>
          <%= f.hidden_field :task ,name:"test", value: @form1  %>
          <%= f.hidden_field :name , value: @form5  %>
          <%= f.hidden_field :status , value: "todo"  %>
          <%= f.hidden_field :roulette_id , value: "4"  %>
        <% end%>
      <%= f.submit "ToDoリストを作成する", class: "btn_todo" %>
    <% end %>
    <div class="roulettebutton">
      <div class="tow_buttons">
        <input type="button" value="スタート", id= "start4", class= "myButton">
        <input type="button" value="ストップ", id= "stop4", class= "myButton">
      </div>
    </div>
  </div>
</div>
