<div class="fourversion_roulette">
  <div class="roulette-container">
    <% if @page == [4] %>
      <%= render 'shared/roulette_4' %>
    <% elsif @page == [5]%>
      <%= render 'shared/roulette_5' %>
    <% elsif @page == [6]%>
      <%= render 'shared/roulette_6' %>
    <% elsif @page == [8]%>
      <%= render 'shared/roulette_8' %>
    <% else %>
      <%= render 'shared/roulette_10' %>
    <% end %>
    <%= form_with  class: "todoform", method: :get, scope: :formdate, local: true do |f| %>
      <table>
        <tbody>
          <% (1..4).each do |num| %>
            <tr>
              <td><%= f.text_field :task ,name: "formdate[task#{num}]", placeholder: "タスク記入(5文字以内）" ,class: "task", maxlength: 5, size: 20 ,autocomplete:"off"%></td>
              <td><%= f.text_field :name ,name: "formdate[name#{num}]", placeholder: "名前記入(5文字以内）" , maxlength: 5, size: 20 ,autocomplete:"off"%></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td ><button id="btn_add" type="button" >追加</button></td>
            <td ><%= f.submit "反映", class: "formbtn" %></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
    <% if params[:formdate].present?%>
        <%= form_with model: @tasks, url: tasks_path, method: :post ,class: "todolist", local: true do |f| %>
          <%= fields_for 'tasks[]', @tasks do |f| %>
            <% @hiddenform.product.each_slice(2) do |task,name|%>
              <%= f.hidden_field :task , value: task %>
              <%= f.hidden_field :name ,class: "name", value: name %>
              <%= f.hidden_field :status_id , value: "1" %>
              <%= f.hidden_field :page_id , value: @page  %>
              <%= f.hidden_field :user_id , value: @user  %>
            <% end%>
          <% end %>
          <%= f.submit "ToDoリストを作成する", class: "btn_todo" %>
        <% end%>
    <% end%>
    <div class="roulettebutton">
      <div class="tow_buttons">
        <input type="button" value="スタート", id= "start", class= "myButton">
        <input type="button" value="ストップ", id= "stop", class= "myButton">
      </div>
    </div>
  </div>
</div>
