<div class="roulettewrapper5" >
  <div class="foundation_roulette5">
    <h3 class="fiveform1"><%= @form1 %></h3>
    <h3 class="fiveform3"><%= @form3 %></h3>
    <h3 class="fiveform5"><%= @form5 %></h3>
    <h3 class="fiveform7"><%= @form7 %></h3>
    <h3 class="fiveform9"><%= @form9 %></h3>
    <div class=fivestripe1></div>
    <div class=fivestripe2></div>
    <div class=fivestripe3></div>
    <div class=fivestripe4></div>
    <div class=fivestripe5></div>
    </div>
</div>
<div class="roulettewrapper_top5">
  <div class= "top_roulettes5" id="roulettes5">
    <div class="top_quarter" id="t_quarter_1">
      <h3 class="form5"><%= @form2 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_2">
      <h3 class="form6"><%= @form4 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_3">
      <h3 class="form7"><%= @form6 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_4">
      <h3 class="form8"><%= @form8 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_4">
      <h3 class="form8"><%= @form10 %></h3>
    </div>
  </div>
</div>
