<div class="roulettewrapper8" >
  <div class="foundation_roulette8">
    <h3 class="eightform1"><%= @form1 %></h3>
    <h3 class="eightform3"><%= @form3 %></h3>
    <h3 class="eightform5"><%= @form5 %></h3>
    <h3 class="eightform7"><%= @form7 %></h3>
    <h3 class="eightform9"><%= @form9 %></h3>
    <h3 class="eightform11"><%= @form11 %></h3>
    <h3 class="eightform13"><%= @form13 %></h3>
    <h3 class="eightform15"><%= @form15 %></h3>
    <div class=eightstripe1></div>
    <div class=eightstripe2></div>
    <div class=eightstripe3></div>
    <div class=eightstripe4></div>
    <div class=eightstripe5></div>
    <div class=eightstripe6></div>
    <div class=eightstripe7></div>
    <div class=eightstripe8></div>
    </div>
</div>
<div class="roulettewrapper_top8">
  <div class= "top_roulettes8" id="roulettes8">
    <div class="top_quarter" id="t_quarter_1">
      <h3 class="form5"><%= @form2 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_2">
      <h3 class="form6"><%= @form4 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_3">
      <h3 class="form7"><%= @form6 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_4">
      <h3 class="form8"><%= @form8 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_4">
      <h3 class="form8"><%= @form10 %></h3>
    </div>
  </div>
</div>
