<div class="roulettewrapper10" >
  <div class="foundation_roulette10">
    <h3 class="tenform1"><%= @form1 %></h3>
    <h3 class="tenform3"><%= @form3 %></h3>
    <h3 class="tenform5"><%= @form5 %></h3>
    <h3 class="tenform7"><%= @form7 %></h3>
    <h3 class="tenform9"><%= @form9 %></h3>
    <h3 class="tenform11"><%= @form11 %></h3>
    <h3 class="tenform13"><%= @form13 %></h3>
    <h3 class="tenform15"><%= @form15 %></h3>
    <h3 class="tenform17"><%= @form17 %></h3>
    <h3 class="tenform19"><%= @form19 %></h3>
    <div class=tenstripe1></div>
    <div class=tenstripe2></div>
    <div class=tenstripe3></div>
    <div class=tenstripe4></div>
    <div class=tenstripe5></div>
    <div class=tenstripe6></div>
    <div class=tenstripe7></div>
    <div class=tenstripe8></div>
    <div class=tenstripe9></div>
    <div class=tenstripe10></div>
    </div>
</div>
<div class="roulettewrapper_top10">
  <div class= "top_roulettes10" id="roulettes10">
    <div class="top_quarter" id="t_quarter_1">
      <h3 class="form5"><%= @form2 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_2">
      <h3 class="form6"><%= @form4 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_3">
      <h3 class="form7"><%= @form6 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_4">
      <h3 class="form8"><%= @form8 %></h3>
    </div>
    <div class="top_quarter" id="t_quarter_4">
      <h3 class="form8"><%= @form10 %></h3>
    </div>
  </div>
</div>
