<div class="loginform">
<div class="wrapper">

<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, class: "login_maillabel" %><br />
    <%= f.email_field :email,class: "form", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password ,class: "login_passlabel" %><br />
    <%= f.password_field :password,class: "form", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="loginactions">
    <%= f.submit "ログイン", class:"myButton" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
