<header>
  <div class="headerwrapper">
    <div class="header-background">
      <div id="hamburger">
        <div class="icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class="sm">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
          <li><%= link_to "人数選択", new_page_path %></li>
          <li><%= link_to "使い方", pages_guide_path %></li>
          <li><%= link_to "トップページ", '/' %></li>
        </ul>
      </nav>
      <nav class= "pc">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class:"header_link"%></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class:"header_link" %></li>
          <% end %>
          <li><%= link_to "人数選択", new_page_path, class:"header_link" %></li>
          <li><%= link_to "使い方", pages_guide_path, class:"header_link" %></li>
          <li><%= link_to "トップページ", '/', class:"header_link" %></li>
        </ul>
      </nav>
    </div>
  </div>
  <script>
    $('#hamburger').on('click', function(){
    $('.icon').toggleClass('close');
    $('.sm').slideToggle();
    });
  </script>
</header>
