<div class="roulettewrapper" >
  <div class="foundation_roulette">
    <h3 class="eightform_task1"><%= @form1 %></h3>
    <h3 class="eightform_task2"><%= @form3 %></h3>
    <h3 class="eightform_task3"><%= @form5 %></h3>
    <h3 class="eightform_task4"><%= @form7 %></h3>
    <h3 class="eightform_task5"><%= @form9 %></h3>
    <h3 class="eightform_task6"><%= @form11 %></h3>
    <h3 class="eightform_task7"><%= @form13 %></h3>
    <h3 class="eightform_task8"><%= @form15 %></h3>
    <div class=eightstripe_f1></div>
    <div class=eightstripe_f2></div>
    <div class=eightstripe_f3></div>
    <div class=eightstripe_f4></div>
    </div>
</div>
<div class="roulettewrapper_top">
  <div class= "top_roulettes8" id="roulettes">
    <em data-name= "8"></em>
    <h3 class="eightform_name1"><%= @form2 %></h3>
    <h3 class="eightform_name2"><%= @form4 %></h3>
    <h3 class="eightform_name3"><%= @form6 %></h3>
    <h3 class="eightform_name4"><%= @form8 %></h3>
    <h3 class="eightform_name5"><%= @form10 %></h3>
    <h3 class="eightform_name6"><%= @form12 %></h3>
    <h3 class="eightform_name7"><%= @form14 %></h3>
    <h3 class="eightform_name8"><%= @form16 %></h3>
    <div class=eightstripe_t1></div>
    <div class=eightstripe_t2></div>
    <div class=eightstripe_t3></div>
    <div class=eightstripe_t4></div>
  </div>
</div>
