<div class="roulettewrapper" >
  <div class="foundation_roulette">
    <h3 class="fiveform_task1"><%= @form1 %></h3>
    <h3 class="fiveform_task2"><%= @form3 %></h3>
    <h3 class="fiveform_task3"><%= @form5 %></h3>
    <h3 class="fiveform_task4"><%= @form7 %></h3>
    <h3 class="fiveform_task5"><%= @form9 %></h3>
    <div class=fivestripe_f1></div>
    <div class=fivestripe_f2></div>
    <div class=fivestripe_f3></div>
    <div class=fivestripe_f4></div>
    <div class=fivestripe_f5></div>
    </div>
</div>
<div class="roulettewrapper_top">
  <div class= "top_roulettes5" id="roulettes">
    <em data-name= "5"></em>
    <h3 class="fiveform_name1"><%= @form2 %></h3>
    <h3 class="fiveform_name2"><%= @form4 %></h3>
    <h3 class="fiveform_name3"><%= @form6 %></h3>
    <h3 class="fiveform_name4"><%= @form8 %></h3>
    <h3 class="fiveform_name5"><%= @form10 %></h3>
    <div class=fivestripe_t1></div>
    <div class=fivestripe_t2></div>
    <div class=fivestripe_t3></div>
    <div class=fivestripe_t4></div>
    <div class=fivestripe_t5></div>
  </div>
</div>
