<div class="roulettewrapper" >
  <div class="foundation_roulette">
    <% if params[:formdate].present?%>
      <h3 class="sixform_task1"><%= @hiddenform[0] %></h3>
      <h3 class="sixform_task2"><%= @hiddenform[2] %></h3>
      <h3 class="sixform_task3"><%= @hiddenform[4] %></h3>
      <h3 class="sixform_task4"><%= @hiddenform[6] %></h3>
      <h3 class="sixform_task5"><%= @hiddenform[8] %></h3>
      <h3 class="sixform_task6"><%= @hiddenform[10] %></h3>
    <% end %>
    <div class=sixstripe_f1></div>
    <div class=sixstripe_f2></div>
    <div class=sixstripe_f3></div>
    </div>
</div>
<div class="roulettewrapper_top">
  <div class= "top_roulettes6" id="roulettes">
    <em data-name= "6"></em>
    <% if params[:formdate].present?%>
      <h3 class="sixform_name1"><%= @hiddenform[1] %></h3>
      <h3 class="sixform_name2"><%= @hiddenform[3] %></h3>
      <h3 class="sixform_name3"><%= @hiddenform[5] %></h3>
      <h3 class="sixform_name4"><%= @hiddenform[7] %></h3>
      <h3 class="sixform_name5"><%= @hiddenform[9] %></h3>
      <h3 class="sixform_name6"><%= @hiddenform[11] %></h3>
    <% end %>
    <div class=sixstripe_t1></div>
    <div class=sixstripe_t2></div>
    <div class=sixstripe_t3></div>
  </div>
</div>
