<div class="roulettewrapper" >
  <div class="foundation_roulette">
    <h3 class="tenform_task1"><%= @form1 %></h3>
    <h3 class="tenform_task2"><%= @form3 %></h3>
    <h3 class="tenform_task3"><%= @form5 %></h3>
    <h3 class="tenform_task4"><%= @form7 %></h3>
    <h3 class="tenform_task5"><%= @form9 %></h3>
    <h3 class="tenform_task6"><%= @form11 %></h3>
    <h3 class="tenform_task7"><%= @form13 %></h3>
    <h3 class="tenform_task8"><%= @form15 %></h3>
    <h3 class="tenform_task9"><%= @form17 %></h3>
    <h3 class="tenform_task10"><%= @form19 %></h3>
    <div class=tenstripe_f1></div>
    <div class=tenstripe_f2></div>
    <div class=tenstripe_f3></div>
    <div class=tenstripe_f4></div>
    <div class=tenstripe_f5></div>
  </div>
</div>
<div class="roulettewrapper_top">
  <div class= "top_roulettes10" id="roulettes">
    <em data-name= "10"></em>
    <h3 class="tenform_name1"><%= @form2 %></h3>
    <h3 class="tenform_name2"><%= @form4 %></h3>
    <h3 class="tenform_name3"><%= @form6 %></h3>
    <h3 class="tenform_name4"><%= @form8 %></h3>
    <h3 class="tenform_name5"><%= @form10 %></h3>
    <h3 class="tenform_name6"><%= @form12 %></h3>
    <h3 class="tenform_name7"><%= @form14 %></h3>
    <h3 class="tenform_name8"><%= @form16 %></h3>
    <h3 class="tenform_name9"><%= @form18 %></h3>
    <h3 class="tenform_name10"><%= @form20 %></h3>
    <div class=tenstripe_t1></div>
    <div class=tenstripe_t2></div>
    <div class=tenstripe_t3></div>
    <div class=tenstripe_t4></div>
    <div class=tenstripe_t5></div>
  </div>
</div>
