<div class="roulettewrapper">
  <div class= "foundation_roulette">
    <h3 class="form1"><%= @form1 %></h3>
    <h3 class="form3"><%= @form3 %></h3>
    <h3 class="form5"><%= @form5 %></h3>
    <h3 class="form7"><%= @form7 %></h3>
    <div class=fourstripe1></div>
    <div class=fourstripe2></div>
  </div>
</div>
<div class="roulettewrapper_top">
  <div class= "top_roulettes4" id="roulettes4">
    <h3 class="form2"><%= @form2 %></h3>
    <h3 class="form4"><%= @form4 %></h3>
    <h3 class="form6"><%= @form6 %></h3>
    <h3 class="form8"><%= @form8 %></h3>
    <div class=fourstripe3></div>
    <div class=fourstripe4></div>
  </div>
</div>
