<div class="roulettewrapper">
  <div class= "foundation_roulette">
    <h3 class="fourform_task1"><%= @form1 %></h3>
    <h3 class="fourform_task2"><%= @form3 %></h3>
    <h3 class="fourform_task3"><%= @form5 %></h3>
    <h3 class="fourform_task4"><%= @form7 %></h3>
    <div class=fourstripe_f1></div>
    <div class=fourstripe_f2></div>
  </div>
</div>
<div class="roulettewrapper_top">
  <div class= "top_roulettes4" id="roulettes">
    <h3 class="fourform_name1"><%= @form2 %></h3>
    <h3 class="fourform_name2"><%= @form4 %></h3>
    <h3 class="fourform_name3"><%= @form6 %></h3>
    <h3 class="fourform_name4"><%= @form8 %></h3>
    <div class=fourstripe_t1></div>
    <div class=fourstripe_t2></div>
  </div>
</div>
