<div class= "wrapper">
  <div class= choice_button>
    <ul>
      <li><%= button_to "4人用", roulettes_new_path, {method: :get, class: "btn_choice"} %></li>
      <li><%= button_to "5人用", "#", {method: :get, class: "btn_choice"} %></li>
      <li><%= button_to "6人用", "#", {method: :get, class: "btn_choice"} %></li>
      <li><%= button_to "8人用", "#", {method: :get, class: "btn_choice"} %></li>
      <li><%= button_to "10人用", "#", {method: :get, class: "btn_choice"} %></li>
    </ul>
  </div>
</div>
