<div class= "wrapper">
  <div class= choice_button>
    <ul>
      <li>
        <%= form_with url:roulettes_new_path, model: @choice , local: true do |f| %>
          <%= f.hidden_field :participant, :value => 4  %>
          <%= f.submit '4人用',:class=>"myButton"%>
        <% end %>
      </li>
      <li>
        <%= form_with url:"#", model: @choice , local: true do |f| %>
          <%= f.hidden_field :participant, :value => 5  %>
          <%= f.submit '5人用',:class=>"myButton"%>
        <% end %>
      </li>
      <li>
        <%= form_with url:"#", model: @choice , local: true do |f| %>
          <%= f.hidden_field :participant, :value => 6  %>
          <%= f.submit '6人用',:class=>"myButton"%>
        <% end %>
      </li>
      <li>
        <%= form_with url:"#", model: @choice , local: true do |f| %>
          <%= f.hidden_field :participant, :value => 8  %>
          <%= f.submit '8人用',:class=>"myButton"%>
      <% end %>
      </li>
      <li>
        <%= form_with url:"#", model: @choice , local: true do |f| %>
          <%= f.hidden_field :participant, :value => 10  %>
          <%= f.submit '10人用',:class=>"myButton"%>
        <% end %>
      </li>
    </ul>
  </div>
</div>
