<!DOCTYPE html>
<html>
  <head prefix="og:http://ogp.me/ns#">
    <meta property="og:title" content="分担ルーレット">
    <meta property="og:description" content="分担ルーレット~BBQver.~は、BBQでの役割分担したいときに使用するルーレットです。その他、決まった分担を管理するToDoリスト機能や分担をLINEで通知するLINE通知機能などもあります">
    <meta property="og:url" content="https://www.bbq-buntanroulette.com">
    <meta property="og:image" content="https://www.bbq-buntanroulette.com/app/assets/images/url_image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="分担ルーレット~BBQver.~">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://www.bbq-buntanroulette.com">
    <meta name="twitter:image" content="https://www.bbq-buntanroulette.com/app/assets/images/url_image.jpg" />
    <meta name="twitter:title" content="分担ルーレット~BBQver.~">
    <meta name="twitter:description" content="Twitter用の説明文が入ります。">
    <title>BuntanRoulette</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics'%>
    <% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
