<!DOCTYPE html>
<html>
  <head prefix="og:http://ogp.me/ns#">
    <meta property="og:title" content="分担ルーレット">
    <meta property="og:description" content="複数人でタスクを分担したいときに使用する、組み合わせを自動的に決めることができるルーレットです">
    <meta property="og:url" content="ページのURL">
    <meta property="og:image" content="サムネイル画像のURL">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="サイトの名前">
    <title>BuntanRoulette</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
